.content-wrapper{
    .profile-block{
        height: 233px;
        .profile-title{
            border-bottom: 1px solid $black;
        }
    }
    .line-top{
        border-top: 1px solid $black;
    }
    .read_more{
        color: $primary;
        border-bottom: 1px solid $black;
    }
}