.introductie-wrapper{
    .profilephoto-block{

    }
    .personinfo-block-title{
        border-bottom: 1px solid $black;
    }
    .personinfo-block-icon{
        color: $white;
        background-color: $black;
        border-radius: 25px;
        padding: 16px!important;
    }
}