.introductie-wrapper{
    .info-block{
        .info-title{
            border-bottom: 1px solid $black;
        }
    }
    .education-block{
        .info-title{
            border-bottom: 1px solid $black;
        }
    }
    .hobby-block{
        border-bottom: 1px solid $black;
    }
    .personinfo-block-icon{
        color: $white;
        background-color: $black;
        border-radius: 25px;
        padding: 16px!important;
    }
}