.homepage-wrapper{
    background-color: $primary-200;
    .main-content-block{
        background-color: $secondary;
        border-radius: 25px;
        .content-block{
            border-left: 1px solid $black;
        }
    }
}